body {
    background-image: url('bck.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    text-align: center;
}

h1, h2, li, footer {
    color: azure;
    font-family: 'Tektur', cursive;
    
}
.foot {
    white-space: nowrap;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.link {
    color: chartreuse;
}
